src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ada05cfa-352b-4e12-9f8c-da427c68aaa4" >
		<http:listener-connection host="0.0.0.0" port="6061" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="4b58151e-fc98-48f8-8ddb-dfe2ab045262" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="6ca47345-e67a-4e4f-8ca9-47403898d4d0" >
		<http:listener doc:name="Listener" doc:id="7b4e14a4-7cf9-40a3-865f-1e35424e235e" config-ref="HTTP_Listener_config" path="/soap"/>
		<set-variable value="40" doc:name="Set Variable" doc:id="3e2f96f1-7437-4260-8e9b-ef7e57541d81" variableName="Number1"/>
		<set-variable value="60" doc:name="Set Variable" doc:id="11feabe0-ed95-4eea-8b0c-d0e4c2b6a91f" variableName="Number2"/>
		<ee:transform doc:name="Transform Message" doc:id="f77ad24d-6389-40dd-bb30-e84060b40044">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Subtract" doc:name="Consume" doc:id="655ebc49-15b9-4af0-96a5-aa9c3b8cd63d" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="8873ef35-5f60-443f-9ba9-356c2c99d6fb" message="#[payload]"/>
	</flow>
</mule>
